//Main Color Scheme
$main-nav-color: #1e2b6b;
$secondary-nav-color: #bacdf3;
$text-highligh: #bacef3;
$secondary-nav: #159ce8;
$main-header-color: #1f2c6c;
$secondary-text-color: #179ce9;
$white-box-border: #d7dae4;

//Main Dimensions
$main-border-raduis: 8px;
$main-border-style: solid;
$secondary-border-style: dashed;
$text-padding: 10px;
$margin-between: 10px;
